.cursor-as-pointer{
    cursor:pointer;
}

.no-list-style{
    list-style: none
}

.rubedo-caption{
    background: rgba(0,0,0,0.75);
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff !important;
}
.rubedo-page-holder{
    background: inherit;
}
.rubedo-admin-drawer{
    background: #f9f9f9;
    color: #000000 !important;
    position: fixed;
    top: 0;
    left: 0;
}
.rubedo-admin-btn{
    position:fixed;
    top:50%;
    left:0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 10000;
}
.rubedo-admin-nav a {
    color: #000000;
    text-align: center;
}
.rubedo-admin-back-btn{
    margin-top: 10px;
    color: #000000 !important;
    margin-bottom: 10px;
}
.rubedo-admin-image-holder{
    margin-top: 60px;
    margin-bottom: 20px;
}
.editable-click{
    border-bottom: none !important;
    color: inherit !important;
    text-decoration: inherit !important;
}

.angular-google-map {
    height: 100%;
    width: 100%;
}

.angular-google-map-container {
    height: 100%;
    width: 100%;
}
.rubedo-places-search{
    max-width: 300px;
    margin-top: 10px;
}

.leftZoneModal, .rightZoneModal {
    top: 15px;
    bottom: 15px;
    position: absolute;
    vertical-align: bottom;
    min-width: 120px;
}

.rightZoneModal, .rightZoneModal span.glyphicon {
    right: 0;
}

.leftZoneModal, .leftZoneModal span.glyphicon {
    left: 0;
}

.rightZoneModal span.glyphicon, .leftZoneModal span.glyphicon{
    position: absolute;
    top: 50%;
}

.rightZoneModal:hover, .leftZoneModal:hover {
    background-color: rgba(0, 0, 0, 0.20);
}

.alphabeticalIndex {
    padding-bottom: 10px;
}

.gallery {
    margin-left: 5px;
    margin-right: 5px;
}

.gallery .caption {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 30px;
}

#rubedoGalleryDetailModal img.img-responsive {
    display: inline;
    max-height: 800px;
}

.resultData .progress {
    width: 70px;
    float: left;
}

.resultData .progress-bar {
    min-width: 30%;
    max-width: 100%;
}

.resultData span.label {
    display: inline-block;
}

.resultData .well {
    height: 140px
}

.rubedo-gmapitem{
    min-height: 120px;
    min-width:300px;
}
.rubedo-map-field{
    height:300px;
}

.rubedo-checkout-progress{
    height:10px;
}
.rubedo-product-in-list{
    padding:20px;
}
/*begin megamenu css*/
.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}
@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
}