.cursor-as-pointer{
    cursor:pointer;
}
.rubedo-caption{
    background: rgba(0,0,0,0.75);
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff !important;
}
.rubedo-page-holder{
    background: #ffffff;
    box-shadow: rgb(136, 136, 136) 0px 0px 20px 0px;
}
.rubedo-admin-drawer{
    width:256px !important;
}
.rubedo-admin-btn{
    position:absolute;
    top:10px;
    left:10px;
}
.editable-click{
    border-bottom: none !important;
    color: inherit !important;
    text-decoration: inherit !important;
}