<button class="btn btn-default rubedo-admin-back-btn"
        ng-click="rubedo.changeAdminInterfaceView('home')">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
</button>
<h3 class="text-center">Content editing</h3>
<ul class="nav nav-pills nav-stacked rubedo-admin-nav">
    <li ng-if="!rubedo.fieldEditMode&&rubedo.current.user.rights.canEdit">
       <a ng-click="rubedo.enterEditMode()"
          class="cursor-as-pointer">
           <span class="glyphicon glyphicon-pencil"></span> Begin edit</a>
    </li>
    <li ng-if="rubedo.fieldEditMode&&rubedo.current.user.rights.canEdit">
        <a ng-click="rubedo.persistChanges()"
           class="cursor-as-pointer">
            <span class="glyphicon glyphicon-floppy-saved"></span> Save changes</a>
    </li>
    <li ng-if="rubedo.fieldEditMode&&rubedo.current.user.rights.canEdit">
        <a ng-click="rubedo.revertChanges()"
           class="cursor-as-pointer"><span class="glyphicon glyphicon-trash"></span> Discard changes</a>
    </li>
</ul>
