
<div class="form-group">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div>
        <div id="{{fieldIdPrefix+'_'+field.config.name}}"  ng-controller="ExternalMediaFieldController as externalMediaFieldCtrl">
            <div ng-style="{'maxWidth':fieldEntity[field.config.name].maxWidth, 'maxHeight':fieldEntity[field.config.name].maxHeight, 'overflow':'hidden'}"
                 ng-bind-html="externalMediaFieldCtrl.html"></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <input type="text" class="form-control"
                                   ng-model="fieldEntity[field.config.name].url"
                                   ng-change="externalMediaFieldCtrl.handleUrlChanges()"
                                   placeholder="URL">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control"
                                   ng-model="fieldEntity[field.config.name].maxHeight"
                                   ng-change="externalMediaFieldCtrl.handleSizeChanges()"
                                   placeholder="Max height">
                        </div>
                        <div class="col-xs-2">
                            <input type="number" class="form-control"
                                   ng-model="fieldEntity[field.config.name].maxWidth"
                                   ng-change="externalMediaFieldCtrl.handleSizeChanges()"
                                   placeholder="Max width">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>