
<div class="form-group">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div>
        <div id="{{fieldIdPrefix+'_'+field.config.name}}" ng-controller="RatingFieldController as ratingFieldCtrlCtrl">
            <span class="glyphicon"
                  ng-repeat="star in ratingFieldCtrlCtrl.getStarArray() track by $index"
                  ng-class="star"
                  ng-click="ratingFieldCtrlCtrl.editValue($index+1)">
            </span>
                </div>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>