<div class="form-group" ng-controller="RTEFieldController as rteFieldCtrl">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" ng-class="{'col-sm-2': !isBasic, 'control-label': !isBasic}">{{field.config.fieldLabel}}</label>
    <div ng-class="{'col-sm-10': !isBasic}">
        <textarea
               class="form-control"
               id="{{fieldIdPrefix+'_'+field.config.name}}"
               ng-required="!field.config.allowBlank"
               ckeditor="editorOptions"
               minLength="{{field.config.minLength}}"
               maxLength="{{field.config.maxLength}}"
               ng-model="fieldEntity[field.config.name]"
                >
            </textarea>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>