<div class="form-group">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div>
        <input type="{{field.config.vtype=='email'||field.config.vtype=='url'||field.config.vtype=='password' ? field.config.vtype : 'text'}}"
               class="form-control"
               id="{{fieldIdPrefix+'_'+field.config.name}}"
               ng-required="!field.config.allowBlank"
               minLength="{{field.config.minLength}}"
               maxLength="{{field.config.maxLength}}"
               ng-model="fieldEntity[field.config.name]"
                >
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>

</div>
