
<div class="form-group">
    <label for="{{fieldIdPrefix+'_'+field.config.name}}" class="col-sm-4 control-label">{{field.config.fieldLabel}} <span ng-if="!field.config.allowBlank&&!field.config.fieldLabel.includes('*')">*</span></label>
    <div class="col-sm-8">
        <div id="{{fieldIdPrefix+'_'+field.config.name}}">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5">
                            <input type="text" class="form-control"
                                   ng-model="fieldEntity[field.config.name].url"
                                   placeholder="URL">
                        </div>
                        <div class="col-xs-5">
                            <input type="text" class="form-control"
                                   ng-model="fieldEntity[field.config.name].title"
                                   placeholder="Title">
                        </div>
                        <div class="col-xs-2">
                            Open in new tab
                            <input type="checkbox"
                                   ng-model="fieldEntity[field.config.name].openInNewWindow">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span ng-if="field.config.tooltip" class="help-block">{{field.config.tooltip}}</span>
    </div>
</div>