<div ng-controller="ComboboxController as comboboxCtrl">
    <p ng-if="!fieldEditMode">{{comboboxCtrl.displayValue(fieldEntity[field.config.name])}}</p>
    <p ng-if="fieldEditMode&&field.config.multiSelect" editable-select="fieldEntity[field.config.name]"
       e-ng-required="!field.config.allowBlank"
       e-multiple="multiple"
       e-ng-options="s.valeur as s.nom for s in field.store.data"
       onaftersave="registerFieldEditChanges()">
        {{comboboxCtrl.displayValue(fieldEntity[field.config.name])}}
    </p>
    <p ng-if="fieldEditMode&&!field.config.multiSelect" editable-select="fieldEntity[field.config.name]"
       e-ng-required="!field.config.allowBlank"
       e-ng-options="s.valeur as s.nom for s in field.store.data"
       onaftersave="registerFieldEditChanges()">
        {{comboboxCtrl.displayValue(fieldEntity[field.config.name])}}
    </p>
</div>