<img ng-if="!fieldEditMode" ng-if="fieldEntity[field.config.name]&&userPhotoUrl" alt="photo" ng-src="{{userPhotoUrl}}" class="img-responsive img-thumbnail">
<div ng-if="fieldEditMode" class="thumbnail" ng-controller="UserPhotoFieldController as userPhotoFieldCtrl">
    <img ng-if="fieldEntity[field.config.name]&&userPhotoUrl" alt="photo" ng-src="{{userPhotoUrl}}" class="img-responsive">
    <div class="caption">
        <form class="form" ng-submit="userPhotoFieldCtrl.submitPhoto()">
            <div class="form-group">
                <label >Upload a new photo</label>
                <input type="file" file-model="userPhotoFieldCtrl.photoFile" required>
                <p class="help-block">Acceptable formats are...</p>
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
</div>