<google-map center="geoSearchResultsCtrl.map.center"
            zoom="geoSearchResultsCtrl.map.zoom"
            events="geoSearchResultsCtrl.mapEvents"
            control="geoSearchResultsCtrl.mapControl"
            draggable="true">
    <map-control ng-if="geoSearchResultsCtrl.activatePlacesSearch"
                 template="{{geoSearchResultsCtrl.placesSearchTemplate}}"
            >
    </map-control>
    <markers
            ng-if="!geoSearchResultsCtrl.apiClusterMode"
            models="geoSearchResultsCtrl.data"
            idKey="'id'"
            coords="'coordinates'"
            options="'markerOptions'"
            doCluster="true"
            clusterOptions="geoSearchResultsCtrl.clusterOptions"
            events="geoSearchResultsCtrl.markerEvents"
            >
    </markers>
    <markers ng-if="geoSearchResultsCtrl.apiClusterMode"
            models="geoSearchResultsCtrl.data"
            idKey="'id'"
            coords="'coordinates'"
            doCluster="true"
            clusterOptions="geoSearchResultsCtrl.apiClusterOptions"
            options="'markerOptions'"
            >
    </markers>

</google-map>