<div ng-repeat="datum in directoryCtrl.data track by $index" class="col-md-6 resultData">
    <div class="well media">
        <img ng-if="datum.avatar" ng-src="{{datum.avatar}}" alt="{{datum.title}}" class="img-responsive img-thumbnail pull-left media-object"/>
        <div class="media-body">
            <h4 class="media-heading"><a ng-href="{{datum.url}}">{{datum.title}}</a></h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="{{datum.score}}"
                     aria-valuemin="30" aria-valuemax="100"
                     ng-style="{'width': datum.score+'%'}">
                    {{datum.score}}%
                </div>
            </div>
            &nbsp;
            <span class="label label-danger">{{datum.type}}</span>
        </div>
    </div>
</div>