<img src="/components/webtales/rubedo-frontoffice/img/logo-rubedo.png" alt="Rubedo">
<div class="container-fluid">
    <a ng-if="rubedo.current.user.rights.boAccess" href="/backoffice" target="_blank"><button type="button" class="btn btn-default btn-block"><span class="glyphicon glyphicon-cog"></span> Back Office</button></a>
    <br>
    <div ng-if="rubedo.current.user.rights.canEdit" class="panel panel-default" ng-class="{'panel-primary':rubedo.fieldEditMode}">
        <div class="panel-heading">
            <h3 class="panel-title text-center">In-context editing</h3>
        </div>
        <div class="panel-body">
            <button ng-if="!rubedo.fieldEditMode" type="button" class="btn btn-default btn-block" ng-click="rubedo.enterEditMode()">
                <span class="glyphicon glyphicon-pencil"></span> Begin edit
            </button>
            <button ng-if="rubedo.fieldEditMode" type="button" class="btn btn-primary btn-block" ng-click="rubedo.persistChanges()">
                <span class="glyphicon glyphicon-floppy-saved"></span> Save changes
            </button>
            <button ng-if="rubedo.fieldEditMode" type="button" class="btn btn-default btn-block" ng-click="rubedo.revertChanges()">
                <span class="glyphicon glyphicon-trash"></span> Discard changes
            </button>
        </div>
    </div>
    <div ng-show="rubedo.hasNotifications()" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">Notifications <span ng-click="rubedo.clearNotifications()" titile="Clear notifications" class="glyphicon glyphicon-remove pull-right cursor-as-pointer"></span></h3>
        </div>
        <div class="panel-body">
            <rubedo-notification ng-repeat="notification in rubedo.notifications"></rubedo-notification>
        </div>
    </div>
</div>