<div ng-controller="AuthenticationController as authCtrl">
    <button ng-if="!rubedo.current.user" class="btn btn-primary" data-toggle="modal" data-target="#rubedoAuthModal"><span class="glyphicon glyphicon-log-in"></span> Log in</button>
    <div ng-if="rubedo.current.user" class="btn-group">
        <button class="btn btn-default"><span class="glyphicon glyphicon-user"></span> {{rubedo.current.user.name}}</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-if="rubedo.current.user.rights.boAccess" ><a href="/backoffice" target="_blank"><span class="glyphicon glyphicon-cog"></span> Back Office</a></li>
            <li ng-if="authCtrl.profilePageUrl" ><a ng-href="{{authCtrl.profilePageUrl}}" ><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a class="cursor-as-pointer" ng-click="authCtrl.logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
        </ul>
    </div>
</div>