<div ng-controller="ContentListController as contentListCtrl">
    <div ng-repeat="content in contentListCtrl.contentList">
        <h4>
            <a ng-href="{{ content.detailPageUrl }}">
                {{ content.fields.text }}
            </a>
        </h4>
        <img ng-if="content.fields.image" ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{size:'thumbnail'}) }}" alt="{{ content.fields.text }}" />
        <p ng-if="content.fields.summary" style="display: inline-block; vertical-align: top">
            {{ content.fields.summary }}
        </p>
        <hr/>
    </div>
    <ul ng-show="contentListCtrl.showPager" class="pagination">
        <li ng-if="contentListCtrl.actualPage != 1" ng-click="contentListCtrl.changePage('prev')"><a>&laquo;</a></li>
        <li ng-repeat="page in contentListCtrl.getIteration(contentListCtrl.nbPages) track by $index"
            ng-click="contentListCtrl.changePage(contentListCtrl.getPagesNumber($index)-1)" ng-class="{'active':contentListCtrl.showActive(contentListCtrl.getPagesNumber($index))}" style="cursor: pointer">
            <a>{{ contentListCtrl.getPagesNumber($index) }}</a>
        </li>
        <li ng-if="contentListCtrl.actualPage != contentListCtrl.nbPages" ng-click="contentListCtrl.changePage('next')"><a>&raquo;</a></li>
    </ul>
</div>