<div ng-if="rubedo.current.user&&rubedo.current.user.rights.canContributeFO" ng-controller="ContentContributionController as ccCtrl">
    <form ng-if="ccCtrl.contentType" class="form form-horizontal" ng-submit="ccCtrl.submitNewContent()">
        <h2 class="text-center">New content : {{ccCtrl.contentType.type}}</h2>
        <rubedo-field ng-repeat="field in fields"></rubedo-field>
        <div ng-repeat="vocabulary in vocabularies" class="form-group">
            <label  class="col-sm-4 control-label">{{vocabulary.name}} <span ng-if="vocabulary.mandatory">*</span></label>
            <div class="col-sm-8">
                <select ng-if="vocabulary.multiSelect"
                        chosen
                        class="form-control"
                        multiple
                        ng-required="vocabulary.mandatory"
                        ng-options="s.id as s.text for s in vocabulary.terms"
                        ng-model="fieldEntity.taxonomy[vocabulary.id]"
                        ></select>
                <select ng-if="!vocabulary.multiSelect"
                        chosen
                        class="form-control"
                        ng-required="vocabulary.mandatory"
                        ng-options="s.id as s.text for s in vocabulary.terms"
                        ng-model="fieldEntity.taxonomy[vocabulary.id]"
                        ></select>
                <span ng-if="vocabulary.helpText" class="help-block">{{vocabulary.helpText}}</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-8 col-md-offset-4">
                <rubedo-notification ng-if="ccCtrl.createError" ng-init="notification=ccCtrl.createError"></rubedo-notification>
                <button type="submit" class="btn btn-primary" ng-if="rubedo.current.user.rights.canContributeFODraft" ng-click="ccCtrl.submitStatus='draft'">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save as draft
                </button>
                <button type="submit" class="btn btn-primary" ng-if="rubedo.current.user.rights.canContributeFOPending" ng-click="ccCtrl.submitStatus='pending'">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Submit
                </button>
                <button type="submit" class="btn btn-primary" ng-if="rubedo.current.user.rights.canContributeFOPublished" ng-click="ccCtrl.submitStatus='published'">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Publish
                </button>
            </div>
        </div>
    </form>

</div>