<div ng-controller="ContentListController as contentListCtrl">
    <div ng-attr-lr-infinite-scroll="loadMoreContents"
         ng-attr-scroll-threshold="{{ contentListCtrl.scrollThreshold }}" ng-attr-time-threshold="{{ contentListCtrl.timeThreshold }}"
         ng-style="contentListCtrl.blockStyle">
        <!--<div id="infiniteScrollCtrl">-->
        <div ng-repeat="content in contentListCtrl.contentList" ng-style="{'height':contentListCtrl.contentHeight,
         'overflow':'hidden', 'text-overflow': 'ellipsis' }">
            <h4>
                <a ng-href="{{ content.detailPageUrl }}">
                    {{ content.fields.text }}
                </a>
            </h4>
            <img ng-if="content.fields.image"
                 ng-src="{{rubedo.imageUrl.getUrlByMediaId(content.fields.image,{size:'thumbnail'}) }}" alt="{{ content.fields.text }}" />
            <p style="display: inline-block; vertical-align: top">
                {{ content.fields.summary }}
            </p>
            <hr/>
        </div>
    </div>

    <paginator ng-if="contentListCtrl.showPaginator" start="contentListCtrl.start" limit="contentListCtrl.limit"
               count="contentListCtrl.count" change-page-action="contentListCtrl.changePageAction()"></paginator>
</div>