<div ng-controller="DirectoryController as directoryCtrl">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">There are <span class="badge">{{directoryCtrl.count}}</span> results</span>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">Order by {{directoryCtrl.displayOrderBy}} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href ng-click="directoryCtrl.changeOrderBy('_score')">Order by relevance</a></li>
                        <li><a href ng-click="directoryCtrl.changeOrderBy('lastUpdateTime')">Order by date</a></li>
                        <li><a ng-click="directoryCtrl.changeOrderBy('authorName')" href>Order by author</a></li>
                        <li><a ng-click="directoryCtrl.changeOrderBy('text')" href>Order by title</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href class="dropdown-toggle" data-toggle="dropdown">by page <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="directoryCtrl.changeLimit(10)" href>10 by page</a></li>
                        <li><a ng-click="directoryCtrl.changeLimit(20)" href>20 by page</a></li>
                        <li><a ng-click="directoryCtrl.changeLimit(50)" href>50 by page</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">Search criteria :
                <span ng-repeat-start="term in directoryCtrl.notRemovableTerms">{{term.operator}}</span><span
                        class="badge" ng-repeat-end>
                    {{term.label}}
                </span><span ng-repeat-start="term in directoryCtrl.activeTerms">{{term.operator}}</span>
                <span class="badge cursor-as-pointer" ng-repeat-end
                      ng-click="directoryCtrl.clickOnFacets(term.facetId, term.term)">
                    {{term.label}}&nbsp;&times;
                </span>
            </span>
        </div>
    </nav>
    <div class="row" ng-if="directoryCtrl.alphabeticIndex">
        <div class="text-center col-md-12">
            <div class="btn-group" style="padding-bottom: 10px">
                <button ng-repeat="letter in directoryCtrl.alphabet.terms"
                        ng-click="directoryCtrl.clickOnFacets(directoryCtrl.alphabet.id, letter.term)"
                        type="button" class="btn btn-default">{{letter.label}}<sup>{{letter.count}}</sup>
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default" ng-if="directoryCtrl.activateSearch">
                <div class="panel-heading">
                    <form ng-submit="directoryCtrl.onSubmit()" role="form">
                        <div class="input-group">
                            <input class="form-control" type="text" ng-model="directoryCtrl.query" placeholder="Search"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="facet in directoryCtrl.facets" ng-if="facet.terms || facet.ranges">
                <div class="panel-heading">{{facet.label}}&nbsp;<span ng-if="facet.total" class="badge pull-right">{{facet.total - facet.other}}</span></div>
                <div class="panel-body">
                    <ul>
                        <li ng-if="facet.terms" class="cursor-as-pointer" ng-repeat="term in facet.terms"
                            ng-click="directoryCtrl.clickOnFacets(facet.id, term.term)">
                            {{term.label}}&nbsp;({{term.count}})
                        </li>
                        <li ng-if="facet.ranges" class="cursor-as-pointer" ng-repeat="term in facet.ranges"
                            ng-click="directoryCtrl.clickOnFacets(facet.id, term.from)">
                            {{term.label}}&nbsp;({{term.count}})
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <ng-include src="directoryCtrl.template"></ng-include>
            </div>

            <paginator start="directoryCtrl.start" limit="directoryCtrl.limit"
                       count="directoryCtrl.count"
                       change-page-action="directoryCtrl.changePageAction()"></paginator>
        </div>
    </div>
</div>