<div ng-controller="MediaDownloadController as mediaDownloadCtrl">
    <div ng-if="mediaDownloadCtrl.media.url">
        <div ng-if="mediaDownloadCtrl.intro"
             ng-include="rubedo.blockTemplateResolver.getTemplate('richText',{ })"
             ng-init="blockConfig = {content:mediaDownloadCtrl.intro, fromFront: true}"
                >
        </div>
        <a class="btn btn-primary" target="_blank" ng-href="{{mediaDownloadCtrl.media.url}}" ng-click="rubedo.trackGaDownloadClick(mediaDownloadCtrl.media.url)">
            <i class="glyphicon glyphicon-download"></i> {{rubedo.translate('Label.Download', 'Download')}}
        </a>
    </div>
</div>