<nav class="navbar navbar-default" role="navigation" ng-controller="MenuController as menuCtrl">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ng-if="blockConfig.displayRootPage" class="navbar-brand" ng-href="{{menuCtrl.menu.url}}">{{menuCtrl.menu.title}}</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="page in menuCtrl.menu.pages" ng-class="{active:menuCtrl.currentRouteleine.indexOf(page.url) > -1, dropdown:page.pages}">
                    <a ng-if="!page.pages" ng-href="{{page.url}}">{{page.title}}</a>
                    <a ng-if="page.pages" class="dropdown-toggle cursor-as-pointer" data-toggle="dropdown" >{{page.title}} <span class="caret"></span></a>
                    <ul ng-if="page.pages" class="dropdown-menu" role="menu">
                        <li ng-class="{active:rubedo.current.page.id==page.id}"><a ng-href="{{page.url}}">{{page.title}}</a></li>
                        <li class="divider"></li>
                        <li ng-repeat="subpage in page.pages" ng-class="{active:menuCtrl.currentRouteleine.indexOf(subpage.url) > -1}">
                            <a ng-href="{{subpage.url}}">{{subpage.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form" ng-if="menuCtrl.searchEnabled" ng-submit="menuCtrl.onSubmit()" role="form">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="menuCtrl.query" placeholder="Search"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                    </div>
                </form>
            </ul>
        </div>
    </div>
</nav>