<div ng-controller="SearchResultsController as searchResultsCtrl">
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">There are <span class="badge">{{searchResultsCtrl.count}}</span> results</span>
        </div>
    </nav>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <span class="navbar-brand">Search criteria :
                <span ng-repeat-start="term in searchResultsCtrl.notRemovableTerms">{{term.operator}}</span><span
                        class="badge" ng-repeat-end>
                    {{term.label}}
                </span><span ng-repeat-start="term in searchResultsCtrl.activeTerms">{{term.operator}}</span>
                <span class="badge cursor-as-pointer" ng-repeat-end
                      ng-click="searchResultsCtrl.facetRemove(term.facetId, term.term)">
                    {{term.label}}&nbsp;&times;
                </span>
            </span>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Search</div>
                <div class="panel-body">
                    <form ng-submit="searchResultsCtrl.onSubmit()" role="form">
                        <div class="form-group">
                            <input type="text" ng-model="searchResultsCtrl.query" placeholder="Search"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default" ng-repeat="facet in searchResultsCtrl.facets" ng-if="facet.terms">
                <div class="panel-heading">{{facet.label}}</div>
                <div class="panel-body">
                    <ul>
                        <li class="cursor-as-pointer" ng-repeat="term in facet.terms"
                            ng-click="searchResultsCtrl.facetAdd(facet.id, term.term)">
                            {{term.label}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-repeat="datum in searchResultsCtrl.data">
                <h4>{{datum.title}}</h4>
            </div>

            <paginator start="searchResultsCtrl.start" limit="searchResultsCtrl.limit"
                       count="searchResultsCtrl.count"
                       change-page-action="searchResultsCtrl.changePageAction()"></paginator>
        </div>
    </div>
</div>