<div ng-controller="ShoppingCartController as shoppingCartCtrl">
    <div class="btn-group" ng-if="blockConfig.displayMode=='button'">
        <button ng-if="shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
            Empty
        </button>
        <button ng-if="!shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
             <span class="badge">{{shoppingCartCtrl.detailedCart.totalItems}} </span>
            <span ng-show="shoppingCartCtrl.detailedCart.totalItems>1"> Items</span>
            <span ng-show="shoppingCartCtrl.detailedCart.totalItems==1"> Item</span>
        </button>
        <button ng-if="!shoppingCartCtrl.cartIsEmpty" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul ng-if="!shoppingCartCtrl.cartIsEmpty" class="dropdown-menu" role="menu">
            <table class="table">
                <tr ng-repeat="row in shoppingCartCtrl.detailedCart.cart">
                    <td>{{row.title}}&nbsp;<small>{{row.subtitle}}</small></td>
                    <td>x&nbsp;{{row.amount}}</td>
                    <td><span
                            class="glyphicon glyphicon-plus"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.addToCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span></td>
                    <td><span
                            class="glyphicon glyphicon-minus"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,1); $event.stopPropagation();"></span></td>
                    <td>{{row.taxedPrice | number : 2}}&nbsp;€</td>
                    <td><span
                            class="glyphicon glyphicon-remove"
                            aria-hidden="true"
                            ng-click="shoppingCartCtrl.removeFromCart(row.productId.$id,row.variationId.$id,row.amount); $event.stopPropagation();"></span></td>
                </tr>
            </table>
            <h5><strong>Total</strong> : {{shoppingCartCtrl.detailedCart.totalTaxedPrice | number :2}} €</h5>
            <a ng-if="shoppingCartCtrl.checkoutPageUrl"
               ng-href="{{shoppingCartCtrl.checkoutPageUrl}}">
                <button class="btn btn-primary">Checkout</button>
            </a>
            <a ng-if="shoppingCartCtrl.cartDetailPageUrl"
               ng-href="{{shoppingCartCtrl.cartDetailPageUrl}}">
                <button class="btn btn-primary">View detail</button>
            </a>
        </ul>
    </div>
</div>