<div ng-controller="TwitterController as twitterCtrl">
    <a class="twitter-timeline" ng-href="{{'https://twitter.com/'+twitterCtrl.account}}" data-widget-id="{{ twitterCtrl.widgetId }}"
       data-screen-name="{{ twitterCtrl.tweetMode('tweets') }}" data-favorites-screen-name="{{ twitterCtrl.tweetMode('favorites') }}" data-tweet-limit="{{twitterCtrl.tweetLimit}}"
       data-theme="{{twitterCtrl.theme}}" data-chrome="{{twitterCtrl.chrome}}">
        Tweets by @{{twitterCtrl.account}}
    </a>
</div>