<div ng-controller="UserProfileController as userProfileCtrl">
    <div ng-if="userProfileCtrl.canEdit" class="pull-right">
        <button ng-show="!fieldInputMode" ng-click="userProfileCtrl.enterEditMode()" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> {{rubedo.translate("Label.Edit", "Edit")}}</button>
    </div>
    <div ng-include="userProfileCtrl.detailTemplate"></div>
    <div ng-if="userProfileCtrl.canEdit&&userProfileCtrl.mailingLists&&userProfileCtrl.user.type.fields">{{rubedo.translate('Blocks.UserProfile.Label.SubscribedNews', 'My subscribed newsletters')}}
        <div ng-repeat="mailingList in userProfileCtrl.mailingLists track by $index" class="checkbox">
            <label>
                <input ng-disabled="!fieldInputMode" ng-model="mailingList.checked" type="checkbox"> {{mailingList.name}}
            </label>
        </div>
    </div>
    <br>
    <div ng-show="userProfileCtrl.canEdit && fieldInputMode && userProfileCtrl.hasChanges" class="pull-right">
    	<button ng-click="userProfileCtrl.persistChanges()" class="btn btn-primary"><span class="glyphicon glyphicon-floppy-saved"></span> {{rubedo.translate('Edition.Label.SaveChanges','Save changes')}}</button>
        <button ng-click="userProfileCtrl.revertChanges()" class="btn btn-default"><span class="glyphicon glyphicon-trash"></span> {{rubedo.translate('Edition.Label.DiscardChanges','Discard changes')}}</button>
        <button ng-click="userProfileCtrl.cancelEditMode()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> {{rubedo.translate("Label.Cancel", "Cancel")}}</button>
    </div>
</div>