<div ng-controller="MenuController as menuCtrl">
    <div class="panel panel-default">
        <div class="panel-heading" ng-if="menuCtrl.searchEnabled">
            <form class="form"  ng-submit="menuCtrl.onSubmit()" role="form">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="menuCtrl.query" placeholder="Search"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ng-if="blockConfig.displayRootPage" ng-class="{active:menuCtrl.currentRouteline==menuCtrl.menu.url}"><a ng-href="{{menuCtrl.menu.url}}">{{menuCtrl.menu.text}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a></li>
                <li ng-repeat="page in menuCtrl.menu.pages" ng-class="{active:menuCtrl.currentRouteline==page.url}">
                    <a ng-href="{{page.url}}">{{page.text}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <ul ng-if="page.pages&&blockConfig.menuLevel>1" class="nav nav-pills nav-stacked">
                        <li ng-repeat="subPage in page.pages" ng-class="{active:menuCtrl.currentRouteline==subPage.url}">
                            <a ng-href="{{subPage.url}}">&nbsp; &nbsp;{{subPage.text}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>