<div ng-controller="MenuController as menuCtrl">
    <h3 class="text-center" ng-if="blockConfig.displayRootPage"><a ng-href="{{menuCtrl.menu.url}}">{{menuCtrl.menu.title}}</a></h3>
    <div class="panel panel-default">
        <div class="panel-heading" ng-if="menuCtrl.searchEnabled">
            <form class="form"  ng-submit="menuCtrl.onSubmit()" role="form">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="menuCtrl.query" placeholder="Search"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="page in menuCtrl.menu.pages" ng-class="{active:menuCtrl.currentRouteleine==page.url}">
                    <a ng-href="{{page.url}}">{{page.title}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                    <ul ng-if="page.pages" class="nav nav-pills nav-stacked">
                        <li ng-repeat="subPage in page.pages" ng-class="{active:menuCtrl.currentRouteleine==subPage.url}">
                            <a ng-href="{{subPage.url}}">&nbsp; &nbsp;{{subPage.title}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>