<div ng-controller="MenuController as menuCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center" ng-if="blockConfig.displayRootPage"><a ng-href="{{menuCtrl.menu.url}}">{{menuCtrl.menu.title}}</a></h3>
            <form class="navbar-form" ng-if="menuCtrl.searchEnabled" ng-submit="menuCtrl.onSubmit()" role="form">
                <div class="input-group">
                    <input class="form-control" type="text" ng-model="menuCtrl.query" placeholder="Search"/>
                            <span class="input-group-btn"><button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="nav nav-pills nav-stacked">
                <li ng-repeat="page in menuCtrl.menu.pages" ng-class="{active:menuCtrl.currentRouteleine.indexOf(page.url) > -1}">
                    <a ng-href="{{page.url}}">{{page.title}} <span class="glyphicon glyphicon-chevron-right pull-right"></span></a>
                </li>
            </div>
        </div>
    </div>
</div>